html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
}
#inc-p{
    font-size: 1.5rem;
}
.carousel-indicators li{
    background-color: black;
}
.section.layout_padding h4 {
    text-align: center;
}
#logo-img{
    background-image: url(../images/MindSpark20.svg);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    height: 8vh;
    width: 28vh;
    background-repeat:no-repeat;
    padding: 14%;
}

#heading{
    font-size: 4rem;
    color:#07528d ;
     margin: 15% auto 0px auto;
    text-align: center;
            } 
#head-but{
    background-color:  #d4a81e;
    margin-left: 40%;border: 0px;
}             

@media all and (max-width:300px){
    .carousel a.carousel-control-next{
        width: 20px;
        height: 20px;
        right: -10px;
    }
    .carousel a.carousel-control-prev {
        width: 20px;
        height: 20px;
        left: -6px;
    }
    #logo-img{
        background-image: url(../images/MS-logo.svg);
        background-size: cover;
        background-repeat : no-repeat;
        height: 10vh;
        width: 8vh;
        padding: 27PX;

    }
    #top-con{
       background-size: cover;
    margin: 0px auto;
    width: 250px;
    height: 300px;
    background-position-x: center;
    }
    #heading{
        color: #000;
    font-size: 19px;
    margin: 40vh auto 0px auto;
    text-align: center;
    }
    
    #head-but{
        margin-left: 30%;
        font-size: 10px;
    }
    .layout_padding_2{
        padding: 30px 0px;
        margin: 0px 24px;

    }
    .full > img{
        height: 30vh;
    }
    .heading_main h2 span {
        font-size: 25px;
    }
    .heading_main h2{
        background-size: 100% 7%;
    }
    .layout_padding{
        padding-top: 0px;
    }
    .section.layout_padding h4{
        font-size: 10px;
    }
    .blog_img_popular p{
        font-size: 11px;
    }
    .rowz{
        margin: 0px;
    }
    .blog_img_popular h4{
        line-height: 50px !important;
    }
    .card-text{
        font-size: 12px;
    }
    #inc-p{
        font-size: 15px;
    }
    
}


@media all and (min-width:300px) and (max-width:400px){
    .carousel a.carousel-control-next{
        width: 30px;
        height: 30px;
        right: -10px;
    }
    .carousel a.carousel-control-prev {
        width: 30px;
        height: 30px;
        left: -6px;
    }
    #logo-img{
        background-image: url(../images/MS-logo.svg);
        background-size: cover;
        background-repeat : no-repeat;
        height: 10vh;
        width: 8vh;
        padding: 27PX;


    }
    #top-con{
       background-size: cover;
    margin: 0px auto;
    width: 300px;
    height: 300px;
    background-position-x: center;
    }
    #heading{
        color: #000;
        font-weight: 700;
    font-size: 29px;
    margin: 100% auto 0px auto;
    text-align: center;
    }
    
    #head-but{
        margin-left: 30%;
        font-size: 10px;
    }
    .layout_padding_2{
        padding: 30px 0px;
        margin: 0px 24px;

    }
    .full > img{
        height: 30vh;
    }
    .heading_main h2 span {
        font-size: 25px;
    }
    .heading_main h2{
        background-size: 100% 7%;
    }
    .layout_padding{
        padding-top: 0px;
    }
    .section.layout_padding h4{
        font-size: 10px;
    }
    .blog_img_popular p{
        font-size: 13px;
    }
    .rowz{
        margin: 0px;
    }
    .blog_img_popular h4{
        line-height: 50px !important;
    }
    .card-text{
        font-size: 13px;
    }
    #inc-p{
        font-size: 15px;
    }
    
}


@media all and (min-width:400px) and (max-width:550px){
    .carousel a.carousel-control-next{
        width: 35px;
        height: 35px;
        right: -10px;
    }
    .carousel a.carousel-control-prev {
        width: 35px;
        height: 35px;
        left: -6px;
    }
    #logo-img{
        background-image: url(../images/MS-logo.svg);
        background-size: cover;
        background-repeat : no-repeat;
        height: 10vh;
        width: 8vh;
        padding: 27PX;


    }
    #top-con{
       background-size: cover;
    margin: 0px auto;
    width: 400px;
    height: 300px;
    background-position-x: center;
    }
    #heading{
        color: #07528d;
        font-weight: 700;
    font-size: 30px;
    margin: 75% auto 0px auto;
    text-align: center;
    }
    
    #head-but{
        margin-left: 36%;
        font-size: 13px;
    }
    #res-card{
        margin: 0px auto;
        width: 70%;
    }
    .rowz2{
        width: 80%;
        margin: auto;
    }
    .layout_padding_2{
        padding: 30px 0px;
        margin: 0px 24px;

    }
    .full > img{
        height: 30vh;
    }
    .heading_main h2 span {
        font-size: 25px;
    }
    .heading_main h2{
        background-size: 100% 7%;
    }
    .layout_padding{
        padding-top: 0px;
    }
    .section.layout_padding h4{
        font-size: 10px;
    }
    .blog_img_popular p{
        font-size: 15px;
    }
    .rowz{
        margin: 0px;
    }
    .blog_img_popular h4{
        line-height: 50px !important;
    }
    .card-text{
        font-size: 16px;
    }
    #inc-p{
        font-size: 15px;
    }
    
}


@media all and (min-width:550px) and (max-width:750px){
    #logo-img{
        background-image: url(../images/MS-logo.svg);
        background-size: cover;
        background-repeat : no-repeat;
        height: 10vh;
        width: 8vh;
        padding: 27PX;

    }
    #top-con{
        background-size: cover;
     margin: 0px auto;
     width: 500px;
     height: 336px;
     margin: 59px auto;
     }
     #heading{
         color: #07528d;
         
     font-size: 2rem;
     margin: 7% auto 0px auto;
     text-align: center;
     }
 
}

@media all and (min-width:750px) and (max-width:1000px){
    #top-con{
        background-size: cover;
        height: 90vh;
        width: 100%;
        background-position-x: center;
    }
    #heading{
        font-size: 46px;
        margin: 16% auto 0 auto;
    }
}



@media all and (min-width:1000px) {
    #top-con{
        background-size: cover;
        height: 90vh;
        width: 100%;
        background-position-x: center;
    }
}





.carousel-control-prev1,
.carousel-control-next1 {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 1;
  transition: opacity 0.15s ease;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-control-prev1,
  .carousel-control-next1 {
    transition: none;
  }
}

.carousel-control-prev1:hover, .carousel-control-prev1:focus,
.carousel-control-next1:hover,
.carousel-control-next1:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev1 {
  left: 0;
}

.carousel-control-next1 {
  right: 0;
}

.carousel-control-prev-icon1,
.carousel-control-next-icon1 {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: no-repeat 50% / 100% 100%;
}

.carousel-control-prev-icon1 {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
    background-color:#d4a81e;
    height: 10%;
    width: 25%;
}

.carousel-control-next-icon1 {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
  background-color: #d4a81e;
  height: 10%;
  width: 25%;
}

.sr-only1 {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  
  .sr-only1-focusable:active, .sr-only1-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal;
  }
 control-prev1, .carousel-control-next1{
     opacity: 1;
 }
 .carousal-control-prev1, .carousel-control-next1{
    opacity: 1;    
}


